.spirit-container {
  position: relative;
  /* Most common aspect ratio among spirit images */
  aspect-ratio: 600 / 388;
}

.spirit-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top right;
}

.aspect-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect-overlay.aspect-complexity-equal {
  background: #dbb928;
}

.aspect-overlay.aspect-complexity-equal::after {
  font-size: 2rem;
  font-weight: 700;
  content: '=';
}

.aspect-overlay.aspect-complexity-higher {
  background: #a91d21;
}

.aspect-overlay.aspect-complexity-higher::after {
  font-size: 1.5rem;
  content: '▲';
}

.aspect-overlay.aspect-complexity-lower {
  background: #069243;
}

.aspect-overlay.aspect-complexity-lower::after {
  font-size: 1.5rem;
  content: '▼';
}
